{% load static %}

<body>
    <!--==========Navigation==========-->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="{% url 'home' %}" class="text-gray">Code Master</a>
            </div>


            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="bi bi-bars"></i>
                </div>
            </div>

            <!--nav items-->
            <div>
                <ul class="nav-items" data-aos="zoom-in" data-aos-delay="400">
                    <li class="nav-link">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-link">
                            <a href="{% url  'account' %}">Account</a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-link">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-link">
                            <a href="{% url 'register' %}">Sign Up</a>
                        </li>
                    {% endif %}
                    <li class="nav-link">
                        <a href="{% url 'send_email' %}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="social" data-aos="flip-down" data-aos-delay="500">
                <a href="#" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </nav>
<!--=======Navigation End====-->
</body>